<h1>article new </h1>
<%= form_for @article do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
 
  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>
 
  <p>
    <%= form.submit "Create New Article" %>
  </p>
<% end %>

<%= link_to 'Show all records', articles_index_path %>